:root {
    --blue: #a8d5e5;
    --white: #FFFFFF;
    --black: #000000;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--bg);
    color: var(--fontColor);
    font-family: garamond;
}

.title {
    font-size: 50px;
    position: relative;
    text-align: center;
    color: var(--white);
    z-index:100;
    top: 15px;
}

img {
    position:relative;
    margin-left: 125px;
    display: block;
    z-index: 10;
   }

.light-theme {
    --bg: #Abc9ab;
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
}

.btn {
    position: fixed;
    top: 180px;
    left: 5px;
    height: 50px;
    width: 100px;
    border-radius: 10%;
    border-width: 2px;
    color: var(--black);
    background-color: #C5C9C5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#btn2 {
    top: 230px;
}
#btn3 {
    top: 280px;
}
#btn4 {
    top: 330px;
}

.legend {
    position: absolute;
    width:15px;
    display: none;
}

.legend1 {
    top: 630px;
    left:980px;
}

.legend2 {
    top: 1330px;
    left:980px;
}

.legend3 {
    top: 2030px;
    left:980px;
}

.rectangle {
    position: absolute;
    height: 140px;
    width: 150px;
    z-index: 9;
    background-color: #d9d9d9;
  }

#lightrect1 {
    display: block;
    top: 820px;
    left: 220px;
}
#temprect1 {
    display: none;
    top: 820px;
    left: 220px;
}
#humidrect1 {
    display: none;
    top: 820px;
    left: 220px;
}

#lightrect2 {
    display: block;
    top: 1310px;
    left: 200px;
    height: 230px;
    width: 230px;

}
#temprect2 {
    display: none;
    top: 1310px;
    left: 200px;
    height: 230px;
    width: 230px;
}
#humidrect2 {
    display: none;
    top: 1310px;
    left: 200px;
    height: 230px;
    width: 230px;
}

#lightrect3 {
    display: block;
    top: 1990px;
    left: 540px;
    height: 300px;
    width: 130px;
}
#temprect3 {
    display: none;
    top: 1990px;
    left: 540px;
    height: 300px;
    width: 130px;
}
#humidrect3 {
    display: none;
    top: 1990px;
    left: 540px;
    height: 300px;
    width: 130px;
}

#titlerect {
    position:relative;
    top: -125px;
    left: -8px;
    width: 1262px;
    height:150px;
    background-color: #1A1C1C;
    opacity: 100%;
    z-index:0;
}

.float-container {
    border: 3px;
    padding-left: 125px;
    padding-top: 50px;
    padding-bottom: 50px;  
}

.float-child {
    width: 25%;
    float: left;
    padding: 10px;
    border: none;
    text-align: center;
} 

.tab {
    border-radius: 10%;
    background-color: #C5C9C5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 50px;
    width: 100px;
}